@font-face {
    font-family: HK Grotesk;
    font-weight: 100;
    src: url(/fonts/HKGrotesk/HKGrotesk-Thin.woff2) format('woff2');
}
@font-face {
    font-family: HK Grotesk;
    font-weight: 100;
    font-style: italic;
    src: url(/fonts/HKGrotesk/HKGrotesk-ThinItalic.woff2) format('woff2');
}
@font-face {
    font-family: HK Grotesk;
    font-weight: 200;
    src: url(/fonts/HKGrotesk/HKGrotesk-ExtraLight.woff2) format('woff2');
}
@font-face {
    font-family: HK Grotesk;
    font-weight: 200;
    font-style: italic;
    src: url(/fonts/HKGrotesk/HKGrotesk-ExtraLightItalic.woff2) format('woff2');
}
@font-face {
    font-family: HK Grotesk;
    font-weight: 300;
    src: url(/fonts/HKGrotesk/HKGrotesk-Light.woff2) format('woff2');
}
@font-face {
    font-family: HK Grotesk;
    font-weight: 300;
    font-style: italic;
    src: url(/fonts/HKGrotesk/HKGrotesk-LightItalic.woff2) format('woff2');
}
@font-face {
    font-family: HK Grotesk;
    font-weight: 400;
    src: url(/fonts/HKGrotesk/HKGrotesk-Regular.woff2) format('woff2');
}
@font-face {
    font-family: HK Grotesk;
    font-weight: 400;
    font-style: italic;
    src: url(/fonts/HKGrotesk/HKGrotesk-Italic.woff2) format('woff2');
}
@font-face {
    font-family: HK Grotesk;
    font-weight: 500;
    src: url(/fonts/HKGrotesk/HKGrotesk-Medium.woff2) format('woff2');
}
@font-face {
    font-family: HK Grotesk;
    font-weight: 500;
    font-style: italic;
    src: url(/fonts/HKGrotesk/HKGrotesk-MediumItalic.woff2) format('woff2');
}
@font-face {
    font-family: HK Grotesk;
    font-weight: 600;
    src: url(/fonts/HKGrotesk/HKGrotesk-SemiBold.woff2) format('woff2');
}
@font-face {
    font-family: HK Grotesk;
    font-weight: 600;
    font-style: italic;
    src: url(/fonts/HKGrotesk/HKGrotesk-SemiBoldItalic.woff2) format('woff2');
}
@font-face {
    font-family: HK Grotesk;
    font-weight: 700;
    src: url(/fonts/HKGrotesk/HKGrotesk-Bold.woff2) format('woff2');
}
@font-face {
    font-family: HK Grotesk;
    font-weight: 700;
    font-style: italic;
    src: url(/fonts/HKGrotesk/HKGrotesk-BoldItalic.woff2) format('woff2');
}
@font-face {
    font-family: HK Grotesk;
    font-weight: 800;
    src: url(/fonts/HKGrotesk/HKGrotesk-ExtraBold.woff2) format('woff2');
}
@font-face {
    font-family: HK Grotesk;
    font-weight: 800;
    font-style: italic;
    src: url(/fonts/HKGrotesk/HKGrotesk-ExtraBoldItalic.woff2) format('woff2');
}
@font-face {
    font-family: HK Grotesk;
    font-weight: 900;
    src: url(/fonts/HKGrotesk/HKGrotesk-Black.woff2) format('woff2');
}
@font-face {
    font-family: HK Grotesk;
    font-weight: 900;
    font-style: italic;
    src: url(/fonts/HKGrotesk/HKGrotesk-BlackItalic.woff2) format('woff2');
}

@font-face {
    font-family: Noto Sans;
    font-weight: 100;
    src: url(/fonts/NotoSans/NotoSans-Thin.ttf);
}
@font-face {
    font-family: Noto Sans;
    font-weight: 100;
    font-style: italic;
    src: url(/fonts/NotoSans/NotoSans-ThinItalic.ttf);
}
@font-face {
    font-family: Noto Sans;
    font-weight: 200;
    src: url(/fonts/NotoSans/NotoSans-ExtraLight.ttf);
}
@font-face {
    font-family: Noto Sans;
    font-weight: 200;
    font-style: italic;
    src: url(/fonts/NotoSans/NotoSans-ExtraLightItalic.ttf);
}
@font-face {
    font-family: Noto Sans;
    font-weight: 300;
    src: url(/fonts/NotoSans/NotoSans-Light.ttf);
}
@font-face {
    font-family: Noto Sans;
    font-weight: 300;
    font-style: italic;
    src: url(/fonts/NotoSans/NotoSans-LightItalic.ttf);
}
@font-face {
    font-family: Noto Sans;
    font-weight: 400;
    src: url(/fonts/NotoSans/NotoSans-Regular.ttf);
}
@font-face {
    font-family: Noto Sans;
    font-weight: 400;
    font-style: italic;
    src: url(/fonts/NotoSans/NotoSans-Italic.ttf);
}
@font-face {
    font-family: Noto Sans;
    font-weight: 500;
    src: url(/fonts/NotoSans/NotoSans-Medium.ttf);
}
@font-face {
    font-family: Noto Sans;
    font-weight: 500;
    font-style: italic;
    src: url(/fonts/NotoSans/NotoSans-MediumItalic.ttf);
}
@font-face {
    font-family: Noto Sans;
    font-weight: 600;
    src: url(/fonts/NotoSans/NotoSans-SemiBold.ttf);
}
@font-face {
    font-family: Noto Sans;
    font-weight: 600;
    font-style: italic;
    src: url(/fonts/NotoSans/NotoSans-SemiBoldItalic.ttf);
}
@font-face {
    font-family: Noto Sans;
    font-weight: 700;
    src: url(/fonts/NotoSans/NotoSans-Bold.ttf);
}
@font-face {
    font-family: Noto Sans;
    font-weight: 700;
    font-style: italic;
    src: url(/fonts/NotoSans/NotoSans-BoldItalic.ttf);
}
@font-face {
    font-family: Noto Sans;
    font-weight: 800;
    src: url(/fonts/NotoSans/NotoSans-ExtraBold.ttf);
}
@font-face {
    font-family: Noto Sans;
    font-weight: 800;
    font-style: italic;
    src: url(/fonts/NotoSans/NotoSans-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: Noto Sans;
    font-weight: 900;
    src: url(/fonts/NotoSans/NotoSans-Black.ttf);
}
@font-face {
    font-family: Noto Sans;
    font-weight: 900;
    font-style: italic;
    src: url(/fonts/NotoSans/NotoSans-BlackItalic.ttf);
}

@font-face {
    font-family: Roboto Slab;
    font-weight: 100;
    src: url(/fonts/RobotoSlab/RobotoSlab-Thin.ttf);
}
@font-face {
    font-family: Roboto Slab;
    font-weight: 200;
    src: url(/fonts/RobotoSlab/RobotoSlab-ExtraLight.ttf);
}
@font-face {
    font-family: Roboto Slab;
    font-weight: 300;
    src: url(/fonts/RobotoSlab/RobotoSlab-Light.ttf);
}
@font-face {
    font-family: Roboto Slab;
    font-weight: 400;
    src: url(/fonts/RobotoSlab/RobotoSlab-Regular.ttf);
}
@font-face {
    font-family: Roboto Slab;
    font-weight: 500;
    src: url(/fonts/RobotoSlab/RobotoSlab-Medium.ttf);
}
@font-face {
    font-family: Roboto Slab;
    font-weight: 600;
    src: url(/fonts/RobotoSlab/RobotoSlab-SemiBold.ttf);
}
@font-face {
    font-family: Roboto Slab;
    font-weight: 700;
    src: url(/fonts/RobotoSlab/RobotoSlab-Bold.ttf);
}
@font-face {
    font-family: Roboto Slab;
    font-weight: 800;
    src: url(/fonts/RobotoSlab/RobotoSlab-ExtraBold.ttf);
}
@font-face {
    font-family: Roboto Slab;
    font-weight: 900;
    src: url(/fonts/RobotoSlab/RobotoSlab-Black.ttf);
}
